<tr>
  <td><%= @answer.body %></td>
  <% if user_signed_in? && @answer.belongs?(current_user) %>
      <td>
        <%= link_to 'Edit answer', '', class: 'edit-answer-link', data: { answer_id: @answer.id } %>
        <%= form_for @answer, remote: true, html: { id: "edit-answer-#{@answer.id}" } do |form| %>
            <%= form.label :body, "Answer body" %><br>
            <%= form.text_area :body %><br>
            <%= form.submit 'Change answer' %>
        <% end %>
      </td>
      <td><%= link_to 'Remove answer', answer_path(@answer), method: :delete %></td>
  <% end %>
</tr>
